
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-flex align-items-center text-center w-100" style="height: 500px;">
    <h1 class="w-100">Welcome, this page has default HTML/CSS</h1>
</div>

